.App {
  text-align: center;
}

.logo {
  height: 40px;
  top: 10px;
  left: 10px;
  z-index: 10;
  pointer-events: none;
}


.App-header {
  background-color: #6d6d6d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

