
.logo {
  height: 40px;
  width: auto;
  
}


.dashboard_container {
  background-color: #6d6d6d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.black_bar {
  background-color: #000000;
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex; 
  justify-content: space-between;
  padding: 0 5px;
}
/* Passes the style elements of the black bar into the jsx */

.buttons {
  display: flex;
  gap: 0px;
}

.buttons button{
  background-color: #000000;
  color: white;
  border: none;
  height: 40px;
  width: auto;
  padding: 0 50px;
  border-radius: pointer;
  right: 200px;
}
/* This lets me specify features about all of the buttons */
